---
import Layout from '@layouts/Layout.astro'
---

<Layout title="Astro-SCSS-Dark Mode template." description="Template / Skeleton for Astro SCSS Dark Mode">
	<main>
		<h1>This is a Skeleton, give me more bones & flesh</h1>
	</main>
</Layout>