---
import ThemeSwitch from '@components/ThemeSwitch.astro'

import '@styles/components/_header.scss'

---
<header>
    <ul>
        <li class="right">
            <ThemeSwitch />
        </li>
    </ul>
</header>
